@import '../../../variables';

@keyframes drop{
	0%		{ top:-100px; }
	100%	{ top:0; }
}

.c_listeluke {
    position: relative;
    margin-bottom: 15px;
    width: calc(50% - 7px);
    text-align: center;
    font-family: 'Lobster';
    // overflow: hidden;
    color: #fff;
    &__ribbon {
        position: absolute;
        right: 10%;
        top:-350px;
        top: -5px;
	// animation:drop forwards .8s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 40px;
        height: 25%;
        background: darken($color--darkgreen, 10%);
        color: #fff;
        // color: $color--darkgreen;
        font-size: 2em;
        z-index: 5;
        &:before{
            content: '';
            position: absolute;
            z-index: 5;
            left: 0;
            bottom: -20px;
            border-left: 20px solid darken($color--darkgreen, 10%);
            border-right: 20px solid darken($color--darkgreen, 10%);
            border-bottom: 20px solid transparent;
        }
    }
    a {
        display: block;
        position: relative;
        text-decoration: none;
        color: #fff;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // content: '';
            background: rgba(0, 0, 0, 0.5);
            transition: background-color 300ms ease-in-out;
        }
        &:hover {
            h2 {
                // background-color: $color--green;
            }
            img {
                opacity: 0.9;
            }
            &:after {
                // background: rgba(0, 0, 0, 0.3);
            }
        }
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.5;
        transition: opacity 150ms ease-in-out;
    }
    h2 {
        // display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        // padding: 10px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 2rem;
        transform: translate(-50%, -50%);
        z-index: 10;
        background: transparent;
        border-radius: 50%;
        transition: background-color 300ms ease-in-out;
    }
    &--open {
        
    }
    &--closed {
        border: 2px solid $color--green;
    }
    @media (min-width: $small-width) {
        width: calc(33.33% - 10px);
    }
    @media (min-width: $med-width) {
        width: calc(25% - 10px);
    }
}