@import '../../variables';

.c_viggoluke {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    text-align: center;
    h2 {
        font-family: 'Lobster';
        font-size: 1.6em;
    }
    figure {
        margin: 10px auto;
        width: 90%;
        img {
            display: block;
            width: 100%;
        }
    }
    p {
        
    }
    &--today,
    &--open {
    }
    &--humbug,
    &--future,
    &--early {
        border: 1px solid cyan;
    }
    @media (min-width: $med-width) {
		h2 {
            font-size: 3em;
        }
        figure {
            margin: 30px 0;
        }
	}
}