@import '../../variables';

.c_viggoluke {
    border: 1px solid #fff;
    &--today,
    &--open {
        border: 1px solid pink;
    }
    &--humbug,
    &--future {
        border: 1px solid cyan;
    }
}