@import '../../variables';

.c_calendar {
    padding: 0 15px;
    .sorry {
        border: 2px solid $color--pink;
        position: fixed;
        bottom: 20px;
        left: 20px;
        padding: 15px;
        width: 300px;
        z-index: 50;
        background: rgba(#000, 0.8);
        p {
            margin-bottom: 0;
        }
    }
    &__intro-text {
        margin: 0 auto 40px;
        max-width: 600px;
        text-align: center;
        h2 {
            margin-bottom: 10px;
        }
    }
    &__luker {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // display: -ms-grid;
        // display: grid;
        // -ms-grid-columns: repeat(4, auto);
        // grid-template-columns: repeat(4, auto);
        // grid-template-rows: repeat(6, auto);
        // grid-row-gap: 1vw;
        // grid-column-gap: 1vw;
        // min-height: 70vh;
    }
}