@import '../../variables';

.c_calendar {
    padding: 0 15px;
    &__intro-text {
        margin: 0 auto 40px;
        max-width: 600px;
        text-align: center;
        h2 {
            margin-bottom: 10px;
        }
    }
    &__luker {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // display: -ms-grid;
        // display: grid;
        // -ms-grid-columns: repeat(4, auto);
        // grid-template-columns: repeat(4, auto);
        // grid-template-rows: repeat(6, auto);
        // grid-row-gap: 1vw;
        // grid-column-gap: 1vw;
        // min-height: 70vh;
    }
}