@import '../../variables';

.c_header {
	position: relative;
	padding: 10px 0;
	&__snowflakes {
		position: absolute;
		top: -45%;
		left: 0;
		right: 0;
		height: 30vh;
		z-index: -1;
		opacity: 1;
		overflow-y: hidden;
		.snowflake {
			position: absolute;
			top: 0;
			left: 0;
			animation: snowfall infinite 5s;
			font-size: 2vw;
			z-index: 20;
			path {
				fill: #fff;
			}
			@for $i from 1 through 12 {
				&:nth-of-type(#{$i}) {
					animation-delay: calc(1s * #{$i});
					left: calc(9vw * #{$i});
				}
			}
			&--small {
				animation-duration: 8s;
			}
			&--medium {
				font-size: 3vw;
			}
			&--big {
				font-size: 4vw;
				animation-duration: 3s;
			}
		}
	}
	&__logo {
		display: block;
		margin: 0 auto;
		width: 260px;
		text-align: center;
		text-decoration: none;
		h1 {
			font-size: 1.6em;
			color: $color--white;
			span {
				display: inline-block;
				margin: 0 5px;
				width: 66px;
				height: 36px;
				vertical-align: middle;
				background: url('./chibilogo.png') no-repeat center center;
				background-size: cover;
			}
		}
	}
	@media (min-width: $med-width) {
		padding: 15px 0;
		&__logo {
			h1 {
				font-size: 2em;
				span {
					width: 80px;
					height: 44px;
				}
			}
		}
	}
}

@keyframes snowfall  {
	0% {
		opacity: 1;
		top: -40%;
		transform: scale(0.5);
	}
	65% {
		transform: scale(1);
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		top: 90%;
		transform: scale(0.8);
	}
}