/* Fargerrr */
$body-font: #00061e;
$minty: #00e09d;
$hepp: #75395B;

$color1: #e96443;
$color2: #904e95;
$color3: #d53369;
$color4: #cbad6d;

/* Størrelser */
$small-width: 550px;
$med-width: 760px;
$mega-width: 1000px;